[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-Jonnathan/main-client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Microservices-Jonnathan/products-microservices.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Nest-Microservices-Jonnathan/orders-microservices.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/Nest-Microservices-Jonnathan/payments-ms.git
